.landing-page {
    background-size: cover;
    width: 100vw;
    background: 
    linear-gradient(
      rgba(31,31,31, .9), 
      rgba(0, 0, 0, .9)
    ),
    url('https://i.redd.it/1owsqxyv774z.jpg');
}