@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway');

.nav {
  background: #485563;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #333;
  position: fixed;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5rem;
  width: 15vw;
  align-items: flex-end;
  padding-top: 1em;
}

.nav a {
  color: #333;
  text-decoration: none;
}

.nav h1{
  margin: 0;
  margin-right: .5em;
  text-transform: uppercase;
    
}

.nav *:hover {
  color: #fff;
  cursor: pointer;
}

