.comic-page {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.comic {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    /* height: 27em; */
}

.comic-title {
    font-size: .8em
}