.landing-page {
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: 
    linear-gradient(
      rgba(31,31,31, .1), 
      rgba(0, 0, 0, .9)
    )
}

.quote-container {
  height: 30vh;
  width: 85vw;
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-size: 2vw;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
}

.byline {
  font-size: .5em
}