.landing-page {
    background-size: cover;
    background-position: center;
    background-image: 
    linear-gradient(
      rgba(31,31,31, .1), 
      rgba(0, 0, 0, .9)
    ),
    url('public/img/landing-page/3.jpg');
}