.landing-page {
    display: flex;

}

.quote-container {
  height: 30vh;
  width: 100vw;
  color: #fff;
  font-family: 'Coda', sans-serif;
  font-size: 2vw;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(0,0,0,.5); */
}

.byline {
  font-size: .5em
}