@import url('https://fonts.googleapis.com/css?family=Coda:800');

.nav {
  background: #485563;
  display: flex;
  color: #fff;
   position: fixed; 
  font-family: 'Coda', sans-serif;
  font-size: 1.5vw;
   width: 100vw; 
   padding-left: 35px;

}

.nav a {
  color: #333;
  text-decoration: none;
}

.nav h1{
  margin: 0;
  margin-right: .5em;
  text-transform: uppercase;
    
}

.nav *:hover {
  color: #fff;
  cursor: pointer;
}

