@import url('https://fonts.googleapis.com/css?family=Heebo:100');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway');
@import url('https://fonts.googleapis.com/css?family=Coda:800');
// GLOBAL
*:focus {
  outline: 1px solid orange;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.wrapper {
  padding-top: 70px;
  height: 100vh;
  &--home {
    display: flex;
  }
  &--news {
    padding-left: 2em;
    padding-right: 2em;
  }
  &--coins {
    background-color: goldenrod;
    font-family: 'Fjalla One', sans-serif;
    padding-left: 2em;
  }
}
// NAVIGATION

.nav {
  background: #333;
  display: flex;
  position: fixed;
  font-family: 'Coda', sans-serif;
  width: 100vw;
  z-index: 999;
  height: 2.5em;
  align-items: center;
  padding-left: 35px;

  &__link {
    color: #ccc;
    margin: 0;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #fff;
    }
  }
}

.nav__link + .nav__link {
  margin-left: .5em;
}

// LANDING PAGE

.quote-container {
  height: 30vh;
  width: 100vw;
  color: #fff;
  font-family: 'Coda', sans-serif;
  font-size: 2vw;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(0,0,0,.5); */
}

.byline {
  font-size: .5em;
}

// NEWS PAGE

.news-container {
  display: flex;
  flex-direction: column;
  &__title {
    font-family: 'Heebo', sans-serif;
    font-size: 2vw;
    font-weight: 100;
    padding-top: .75em;
    padding-bottom: .75em;
    border-top: #ccc solid 1px;
    text-transform: uppercase;
    cursor: pointer;
  }
  &--hide-news {
    display: none;
  }
  &--show-news {
    display: flex;
    padding-top: .75em;
    padding-bottom: .75em;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.news-card {
  &__title {
    font-family: 'Fjalla One', sans-serif;
    line-height: 1.5em;
    color: #333;
    font-size: .8em;
  }
  &__image {
    height: 200px;
  }
  &__button {
    width: 22vw;
    margin-top: .5em;
    margin-bottom: .5em;
    max-width: 450px;
    padding: 1em;
    height: 300px;
    background-color: #fff;
    border: solid #ccc 1px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 6px 6px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
  }
}

// COMICS
.cvlogo {
  width: 4em;
}

.hide-spinner {
  display: none;
}

.show-spinner {
  display: block;
  width: 15%;
  position: absolute;
  left: 42%;
  top: 190px;
}

.comic-vine-info{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.publisher-heading {
  height: 76px;
  margin-top: 2em;
  background-color: tomato;
  &__title {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 65px;
    transform: scale(1, 1.7);
    color: #fff;
    margin-left: .5em;
    font-family: 'Coda';
    &--not-trans {
      transform: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: 2vw;
      color: #fff;
      margin-left: .5em;
      font-family: 'Coda';
    }
  }
}
.comic-collection__nav-link {
  font-family: 'Coda';
  text-decoration: none;
  padding-left: 2em;
  color: tomato;
}
.comicSearch {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  height: 1.6em;
  border-radius: 5px;
  border: 1px;
}

.comic-search__submit {
  height: 2em;
  width: 9em;
  margin-left: 1em;
  margin-right: 1em;
  background-color: tomato;
  font-family: 'heebo';
  color: white;
  font-size: .9em;
  border: 2px solid white;
}

.comic-search__clear {
  height: 2em;
  width: 9em;
  color: white;
  font-size: .9em;
  border: 2px solid white;
  margin-left: 1em;
  margin-right: 1em;
  background-color: tomato;
  font-family: 'heebo';
}

.comic-results-add-button__disabled {
  margin-top: .5em;
  background-color: #fff;
  height: 40px;
  width: 100%;
  border: 3px solid rgba(192,192,192,0.3);
  color: rgba(192,192,192,0.3);
  display: flex;
  font-size: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'coda';
  text-transform: uppercase;
}
.comic-results-add-button {
  margin-top: .5em;
  height: 40px;
  width: 100%;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #ff6347 0%, #991700 100%);
  border-image-slice: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
  font-family: 'coda';
  text-transform: uppercase;
  background: -webkit-linear-gradient(#ff6347, #991700);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.comic-results-container-show {
  display: flex;
  flex-wrap: wrap;
  min-height: 150px;
  margin-bottom: 2em;
  opacity: 1;
  transition: opacity 1.25s ease-in-out;
  -moz-transition: opacity 1.25s ease-in-out;
  -webkit-transition: opacity 1.25s ease-in-out;

}

.comic-results-container-hide {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 150px;
  margin-bottom: 2em;
}


.comic-results {
  display: flex;
  flex-direction: column;
  width: 20%;
  // margin: 1em 2%;
  border: solid #ccc 1px;
  border-radius: 5px;
  height: 530px;
  padding: 1em;
}
.comic-delete-button{
  background-color: transparent;
  width: 15%;
}
// .comic-delete-image {
//   width: 10px;
// }
.comic-results__image {
  height: 65%;
}
.comic-collection__image {
  height: 85%;
}
.comic-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  justify-content: flex-start;
  &__comic {
    width: 23%;
    // height: 570px;
    // min-height: 530px;
    margin-left: 1%;
    border: 1px solid #ccc;
    padding: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-right: 1%;
 
    &:hover {
      box-shadow: 0 6px 6px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    }
  }
  &__title {
    font-size: 1vw;
    font-family: 'Fjalla One', sans-serif;
    color: #333;
  }
  &__date {
    font-size: .8em;
    font-family: 'Fjalla One', sans-serif;
    color: #333;
  }
}

.show-all__inactive {
  color: #fff;
  margin-left: 1em;
  font-family: 'Coda';
  font-size: .8em;
  cursor: pointer;
  text-transform: uppercase;
}

.show-all__active {
  color: #333;
  margin-left: 1em;
  font-family: 'Coda';
  font-size: .8em;
  cursor: pointer;
  text-transform: uppercase;
}

.input-container {
  display: inline;
}

.test {
  display: flex;
  align-items: center;
  width: 100%;
}
